{% load appname_new %}
{% load static %}

    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="{% url 'ipay-merchant:home' %}">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="{% static 'ipay-merchant/images/ipay-logo.png' %}" alt="" width="70">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="lh-1 mB-0 logo-text">POS</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <!--<ul class="sidebar-menu scrollable pos-r">-->
        <!--<li class="nav-item mT-30 active">-->
          <!--<a class="sidebar-link" href="{% url 'ipay-merchant:home' %}">-->
            <!--<span class="icon-holder">-->
              <!--<i class="c-blue-500 ti-home"></i>-->
            <!--</span>-->
            <!--<span class="title">Home</span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    </div>
<div class="page-container">
     <div class="header navbar">
         <div class="header-container">
             <ul class="nav-left" style="padding-left:130px;">

                 <li class="nav-item active">
                      <a class="sidebar-link" href="{% url 'ipay-merchant:home' %}">

                        <span class="title">Home</span>
                      </a>
                 </li>
                 <li class="nav-item active">
                      <a class="sidebar-link" href="{% url 'ipay-merchant:qrcode' %}">
                        <span class="title">QR Code</span>
                      </a>
                 </li>


             </ul>
             <ul class="nav-right">

                 <li class="dropdown">
                     <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                         <div class="peer mR-10">
                             <img class="media-object img-thumbnail" width="56" height="56" style="border-radius: 50%;"
                                                alt="Business Profile"
                                                src="{{imageBaseURL}}{{outletDetails.logoUrl}}">
                         </div>
                         <div class="peer" style="padding-top:10px;">

                             <h3><small><span class="fsz-sm c-grey-900"><b>{{outletDetails.brandName}}</b></span></small></h3>
                             <span>{{outletDetails.outletDisplayName}}</span>
                             <p>{{outletDetails.outletUserName}}</p>

                         </div>
                     </a>
                     <ul class="dropdown-menu fsz-sm">
                         <li role="separator" class="divider"></li>
                         <li>
                             <a href="{% url 'ipay-merchant:accountslogout' %}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                                 <i class="ti-power-off mR-10"></i>
                                 <span>Logout</span>
                             </a>
                         </li>
                     </ul>
                 </li>
             </ul>
         </div>
     </div>
